@{
    ViewData["Title"] = "Careers";
}
<script type="text/javascript">
    
</script>
<div class="text-center">
    <h1 class="display-4">Check out our careers below</h1>
    <p>If you are interested in techinal jobs please feel free to click through the selecttion of jobs you see and fill out the application.<strong>Note:</strong> if you are unable to submit your application then you may not have the skills necessary to apply for the position you are interested in. In this case please directly contact the company in question. </strong></p>
</div>