@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Automated Resume Scanner Tool</h1>
    <p>Click careers to get started.</p>
</div>
