<h2>Current Openings</h2>
<div id="jobs-container">
@foreach(var job in ViewBag.Jobs)
{
        <span> <a href="~/Jobs/Details/@job.Id">@job.jobTitle</a></span>

      <br/>
        <span>@job.jobDescription</span>
     <br/>
    
}


</div>